Create a CSV file called “Movies.csv” with details of 10 movies- 
Movie Name, Language, Genre, Rating, Review. 
a. Read CSV file into a dataframe and find the movie with the 
highest rating. 
b. Write the details of all “Hindi movies into a file 
“HindiMovies.csv”. 
2. For the  CEREALS dataset, perform data preprocessing and 
answer the following questions.  
a. Create a table with the 5 number summary of all the numeric 
attributes. 
b. For each of the numeric attributes (proteins upto vitamins) , 
identify and replace all missing data(indicated with -1) with 
the arithmetic mean of the attribute. 
c. Create a table with the 5 number summary of all the numeric 
attributes after treating missing values.  Do you think the 
strategy used in dealing with missing values was effective?  
d. For each numeric attribute (proteins upto vitamins), identify 
and replace all noisy data with the median of attribute.  
e. Create a table with the 5 number summary of all the numeric 
attributes after treating noisy values.  Do you think the 
strategy used in dealing with noisy values was effective?

#

Create a CSV file called “Movies.csv” with details of 10 movies- Movie Name, Language, Genre, Rating, Review. a. Read CSV file into a dataframe and find the movie with the highest rating. b. Write the details of all “Hindi movies into a file “HindiMovies.csv”

In [2]:
import pandas as pd
df=pd.DataFrame({"name":["titanic","b","c","d","e","f","g","h","i","w"],
                   "language":["eng","hindi","eng","hindi","eng","hindi","eng","hindi","eng","hindi"],
                   "genre":["action","comedy","thriller","action","comedy","thriller","action","comedy","thriller","action"],
                   "rating":[10,5,7,4,6,4,8,5,9.6,3],
                   "review":["good","bad","good","bad","good","bad","good","bad","good","bad"]})
df.to_csv('Movies.csv')

In [4]:
 movies=pd.read_csv('Movies.csv')
df

      name language     genre  rating review
0  titanic      eng    action    10.0   good
1        b    hindi    comedy     5.0    bad
2        c      eng  thriller     7.0   good
3        d    hindi    action     4.0    bad
4        e      eng    comedy     6.0   good
5        f    hindi  thriller     4.0    bad
6        g      eng    action     8.0   good
7        h    hindi    comedy     5.0    bad
8        i      eng  thriller     9.6   good
9        w    hindi    action     3.0    bad

In [15]:
high=df["rating"].max()
name=df.loc[df['rating'].idxmax(),"name"]
print(f"high rated movie is {name}")

high rated movie is titanic

In [9]:
hindi= df[df["language"] == "hindi"]
hindi.to_csv("HindiMovies.csv")

 For the CEREALS dataset, perform data preprocessing and answer the following questions.
a. Create a table with the 5 number summary of all the numeric attributes. b. For each of the numeric attributes (proteins upto vitamins) , identify and replace all missing data(indicated with -1) with the arithmetic mean of the attribute. c. Create a table with the 5 number summary of all the numeric attributes after treating missing values. Do you think the strategy used in dealing with missing values was effective?
d. For each numeric attribute (proteins upto vitamins), identify and replace all noisy data with the median of attribute.
e. Create a table with the 5 number summary of all the numeric attributes after treating noisy values. Do you think the strategy used in dealing with noisy values was effective?

In [11]:
df=pd.read_csv('Cereals.csv')
df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
72,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
73,Wheat_Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
74,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
75,Wheaties_Honey_Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [13]:
numeric= df.select_dtypes(include=["number"]).columns 
numeric

Index(['calories', 'protein', 'fat', 'sodium', 'fiber', 'carbo', 'sugars',
       'potass', 'vitamins', 'shelf', 'weight', 'cups', 'rating'],
      dtype='object')

In [15]:
summary = df[numeric].describe().loc[["min", "25%", "50%", "75%", "max"]]
summary.to_csv("Summary.csv")

In [33]:
for col in numeric:
    mean_value = df[df[col] != -1][col].mean()  # Compute mean excluding -1
    df[col] = df[col].replace(-1, mean_value)

In [17]:
summary_new = df[ numeric].describe().loc[["min", "25%", "50%", "75%", "max"]]
summary_new.to_csv("Summary_After.csv")

In [36]:
for col in numeric:
    median_value = df[col].median()
    df[col] = df[col].where(df[col].between(df[col].quantile(0.05), df[col].quantile(0.95)), median_value)

In [37]:
summary_last = df[ numeric].describe().loc[["min", "25%", "50%", "75%", "max"]]
summary_last.to_csv("Summary_After_Noisy.csv")
print(" summary after handling noisy values ")

df.to_csv("Cereals_Cleaned.csv", index=False)

 summary after handling noisy values