
Create a Series from a list of integers representing daily temperatures (in Celsius) over a week. 
Assign index labels as day of the week.
a. Find and print the average (mean) temperature for the week. 
b. Identify and print the maximum and minimum temperatures and their respective days. 
c. Display the temperatures greater than a specific value.
d. Convert all temperatures to Fahrenheit.
e. Print the days had temperatures above the average.

In [54]:
import pandas as pd
a=[30,34,27,38,43,23,45]
temp=pd.Series(a,index=["MON","TUE","WED","THU","FRI","SAT","SUN"])
print(temp)
avg=temp.mean()
print("average is : ",avg)

max1=temp.max()
min1=temp.min()

max_Pos=temp.idxmax()
min_Pos=temp.idxmin()

input_temp=int(input("enter temp"))

display=temp[temp>input_temp]

far=temp.apply(lambda x: (x * 9/5) + 32)


display2=temp[temp>avg]

print(f"the maximum temp is {max1} on {max_Pos}")


print(f"the maximum temp is {min1} on {min_Pos}")

print("Temp above specified ")
print(display)
print("farheit")
print(far)
print("temp above avg ")
print(display2)

MON    30
TUE    34
WED    27
THU    38
FRI    43
SAT    23
SUN    45
dtype: int64
average is :  34.285714285714285

enter temp 40

the maximum temp is 45 on SUN
the maximum temp is 23 on SAT
Temp above specified
FRI    43
SUN    45
dtype: int64
farheit
MON     86.0
TUE     93.2
WED     80.6
THU    100.4
FRI    109.4
SAT     73.4
SUN    113.0
dtype: float64
temp above avg
THU    38
FRI    43
SUN    45
dtype: int64

. Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3. a. Create a new column with total marks b. Find the lowest marks in Marks1 c. Find the Highest marks in Marks2 d. Find the average marks in Marks3 e. Find student name with highest average f. Find how many students failed in Marks2 (<40)

In [96]:
import pandas as pd
data ={ " Roll Number":[29,27,45,34,63,23,54,34,34,54],"Name":['mit',"wer","wes","rtd","erd","poe","ine","nir","mne","ert"],"gender":["male", "female", "male", "female", "male", "female", "male", "female", "male", "female"],'Marks1': [85, 90, 78, 92, 88, 75, 80, 95, 89, 83],
    'Marks2': [76, 89, 4, 9, 87, 79, 85, 93, 88, 82],
    'Marks3': [80, 85, 23, 3, 90, 77, 81, 96, 86, 84]}
df = pd.DataFrame(data)
data
df['total']=df['Marks1']+df['Marks2']+df['Marks3']

min1=df['Marks1'].min()

print("minimum",min1)

max1=df['Marks2'].max()
print("maximum in marks2",max1)

avg=df['Marks3'].mean()
print("average is ",avg)


df['average']=df['total']/3
high_avg=df['average'].max()
print(f"highest average is {high_avg} ")

""" other way"""

avg2=(df['total'].max())/3
print(f"highest average is {avg2} ")

high_stu=df.loc[df['average'].idxmax(),'Name']

print(f"hghest average student is {high_stu}")

failed=len(df.loc[df['Marks2']<40])
print("number of failed in marks2",failed)

minimum 75
maximum in marks2 93
average is  70.5
highest average is 94.66666666666667
highest average is 94.66666666666667
hghest average student is nir
number of failed in marks2 2

In [86]:
x=88+86+96
y=x/3
y

90.0